header {
  display: flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid black;
}

header img {
    width: 70px;
    height: 60px;
    padding-right: 12px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: MediumAquamarine;
}

.navigation{
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  flex-wrap: wrap;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
  color: black;
}

/* Ends header CSS */

div {
  border: 1px solid black;
}

.main-content {
  display: flex;
  position: relative;
  top: 80px;
}

.column {
  display: flex;
  flex-shrink: 0;
}

.column.large {
  flex-direction: column;
  width: 630px;
  padding-right: 20px;
}

.column.medium {
 flex-direction: column;
 width: 300px;
 padding-right: 20px;
}

.column.small {
 flex-direction: column;
 width: 240px;
}

.title {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main-title {
  display: flex;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.pic {
  display: flex;
  height: 300px;
  align-items: flex-start;
  justify-content: center;
}

.fish {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.fall {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.camera {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cat {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}
